@import '_vars.scss';
@import '_base.scss';
@import '_normalize.scss';

@font-face {
  font-family: Westcraft;
  src: url(../fonts/WestcraftSans-Soft.otf);
} 


a {
  text-decoration: none;
}

// reset default browser css
body, html {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  color: $smokey-black;
}

button {
  cursor: pointer;
  color: $smokey-black;
}

img {
  max-width: 100%;
}

input {
  color: $smokey-black;
  padding-left: 0.3em;
  height: 2.5em;
}

::placeholder {
  color: $gray-500;
}

::-webkit-input-placeholder {
  color: $gray-500;
}

::-ms-input-placeholder {
  color: $gray-500;
}

p {
  line-height: 1.7rem;
  font-size: 110%;
}

input {
  color: $smokey-black;
  padding-left: 0.5em;
  padding-top: 0.3em;
  border: 1px solid $gray-400;
}

textarea {
  color: $smokey-black;
  padding-left: 0.5em;
  padding-top: 0.3em;
  border: 1px solid $gray-400;
  //    max-width: 90%;
  resize: vertical;
}

select {
  color: $smokey-black;
}





// Footer Section
.footer {
  border-top: solid 1px $gray-500;
  // background-color: $smokey-black;
  // color: #fff;
  margin-top: 9rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}





// We Stand With Your Side Section
.we-stand-with-you-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
//    background-color: $gray-100;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
//    border: solid 1px $gray-100;
  
  .we-stand-icon-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: solid 3px $smokey-black;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

    .we-stand-icon {
      // border: solid 3px $smokey-black;
      // border-radius: 50%;
      // height: 6rem;
      // width: 6rem;
      font-size: 370%;
    }
  }
  
  .we-stand-text-part {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 1em;
//                background-color: coral;

      h1 {
        // font-size: 52px;
        font-size: 3.2rem;
      }
      
      p {
          font-size: 110%;
          font-weight: 300;
//            color: gray;
      }
  }
}



// Portfolio Setion
.portfolio-sample-section-wrapper {
  margin-top: 5em;
  // background-color: $mint-green;

  .portfolio-sample-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  /*    margin-bottom: 10em;*/
  }
  
  .our-work-title {
    // margin-bottom: -2em;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  
  .portfolio-sample-item {
  /*    background-color: lightgray;*/
    width: 400px;
    height: 400px;
    margin-left: 1em;
    margin-top: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
  .portfolio-item-child {
    background-color: $lollipop-blue;
    width: 100%;
    height: 100%;
  }
}


// Discovery Session Section
.discovery-section-wrapper { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
//    background-color: $lollipop-blue;

    .discovery-section {
        background-color: #e9ecef;
        padding-top: 5em;
        padding-bottom: 6em;
        margin-top: 10em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        border-radius: 30px;
        text-align: center;
        
        .free-30min-session {
            margin-top: -0.5em;
            margin-bottom: 2em;
        }

        .discovery-session-button {
            width: 25em;
            height: 3em;
            border-radius: 30px;
            font-size: 1.2em;
            font-weight: 700;
            cursor: pointer;
            color: #fff;
            border: none;
            background-color: coral;
            margin-top: 2em;
            margin-bottom: 0.2em;
        }

        .discovery-session-button:hover {
            opacity: 0.9;
        }

        .discovery-input {
            width: 42.4em;
            height: 3em;
            padding-left: 1em;
            margin-top: 1em;
            margin-left: 1em;
            border-radius: 3px;
            border: solid 1px #adb5bd;
        }

        .discovery-input-name {
            width: 20em;
            height: 3em;
            padding-left: 1em;
            margin-top: 1em;
            border-radius: 3px;
            border: solid 1px #adb5bd;
        }

        .discovery-input-name:first-child {
            margin-right: 1em;
        }

        .discovery-textarea-input {
            width: 42.4em;
            height: 10em;
            padding-left: 1em;
            margin-top: 1em;
            border-radius: 3px;
            border: solid 1px #adb5bd;
        }

        .discovery-input-label {
            align-self: flex-start;
            color: #3D3D3D;
        }

        .flex {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            /*    background-color: pink;*/


            .discovery-input-label-section {
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                flex-wrap: wrap;
                margin-top: 1em;

                &:first-child {
                    margin-right: 1em;
                }
            }  
        }


        .discovery-input-section2 {
//            background-color: pink;
            width: 41em;
            //            width: 36.4em;

            .discovery-textarea-input {
                width: 100%;
                height: 10em;
                padding-left: 1em;
                margin-top: 1em;
                border-radius: 3px;
                border: solid 1px #adb5bd;
                //                background-color: coral;
            }

            .discovery-input-label-section {
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                flex-wrap: wrap;
                margin-top: 1em;
                width: 100%;

                &:first-child {
                    margin-right: 1em;
                }

                .discovery-input {
                    width: 100%;
                    height: 3em;
                    padding-left: 1em;
                    margin-top: 1em;
                    margin-left: 0;
                    border-radius: 3px;
                    border: solid 1px #adb5bd;
//                    background-color: coral;
                }
            } 
        }
    }
}



// intro jumbotron
.jumbotron {
  background-color: $gray-100;
  /*    padding-top: 3em;*/
  // padding-bottom: 5em;
  margin-top: 1em;
  // border-top: 1px solid $gray-500;


  .jumbotron-items-div {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      align-content: space-around;
      flex-wrap: wrap;

      .jumbotron-item {
          /*    background-color: coral;*/
          /*    height: 18em;*/
          width: 23em;
          margin-left: 1em;
          /*    margin-top: 1em;*/
          padding-top: 2em;
          text-align: center;
          
          p {
//                color: coral;
              margin-top: 1em;
          }

          .jumbotron-item-button {
              color: #fff;
              background-color: $lollipop-blue;
              border: none;
              font-size: 1em;
              height: 2.5em;
              width: 10em;
              border-radius: 30px;
              cursor: pointer;
              margin-top: 1em;
          }

          .jumbotron-item-button:hover {
              opacity: 0.8;
          }

          .jumbotron-item-img {
              width: 150px;
              height: 150px;
          }
      }  
  }
}



// navbar
.navbar-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .navbar {
    // background-color: $mint-green;
    // border-bottom: 1px solid $gray-500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
    a {
      color: $dark-gray;
      margin-left: 4.5rem;
      font-weight: 500;
      font-family: Westcraft;
      font-size: 120%;
  
      &:first-of-type {
        // color: $smoothie-red;
        margin-left: 0;
      }
  
      &:hover {
        opacity: 0.9;
        text-decoration: none;
      }
    }
  }
}




// About Page
.about-us-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: lollipop-blue;
  margin-top: 2rem;

  .about-us-body {
    width: 70%;
  }
}




// Contact Us Page
.contact-us-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;

  .contact-us-intro-text {
    width: 70%;
  }

  .contact-us-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: $gray-100;
    width: 70%;
    border-radius: 3px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;

    .contact-us-mail-icon-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;

      border: solid 2px $smokey-black;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      // background-color: $smoothie-red;
      width: 35rem;
      margin-top: 3rem;

      input {
        height: 2.5em;
        width: 100%;
        margin-bottom: 1em;
      }

      textarea {
        width: 100%;
        margin-bottom: 2em;
        // height: 10rem;
        resize: vertical;
      }


      .contact-us-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        background-color: $lollipop-blue;
        color: #fff;
        border: none;
        font-size: 110%;

        &:hover {
          opacity: 0.9;
        }
      }
      .contact-us-real-button {
        position: relative;
        right: 100em;
        visibility: hidden;
      }
    }
  }
}




// Services Page
.services-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  
  .services-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 9rem;

    p {
      width: 70%;
    }

    &:last-child {
      color: $smoothie-red;
      margin-bottom: 0;
    }
  }
}





.heading-large {
  font-size: 3.2rem;
}



// Start of breakpoints
@media all and (max-width: 900px) and (min-width: 870px) {
  .contact-us-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  
    .contact-us-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      // background-color: $mint-green;
      width: 70%;
      border-radius: 3px;
      padding-top: 8rem;
      padding-bottom: 8rem;
      padding-left: 2rem;
      padding-right: 2rem;

      form {
        width: 90%;
    }
  }
}
}

@media all and (max-width: 1060px) and (min-width: 950px) {
  .discovery-section-wrapper  {
    .discovery-section {
      width: 90%;
      // background-color: coral;
    }
  }
}

@media all and (max-width: 950px) and (min-width: 750px) {
    .discovery-section-wrapper  {
      .discovery-section {
        width: 95%;
        // background-color: coral;
      }
    }
    

    .contact-us-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    
      .contact-us-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        // background-color: $berry-purple;
        width: 90%;
        border-radius: 3px;
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 2rem;
        padding-right: 2rem;

        form {
          width: 90%;
      }
    }
  }
}

@media all and (max-width: 750px) and (min-width: 400px) {

  .discovery-section-wrapper {
    .discovery-section {
      width: 90%;
      // background-color: $mint-green;

      .flex {
        flex-direction: column;
        /*        background-color: green;*/
        width: 70%;

        .discovery-input-label-section:first-child {
          margin-right: 0;
      }
    }

    .discovery-input-section2 {
        /*        background-color: green;*/
        width: 70%;
    }

    .discovery-input-label-section:first-child {
        margin-right: 0;
    }

    .discovery-input-label-section {
        width: 100%;
    }

    .discovery-input-name {
        width: 100%;
    }

    .discovery-input-label {
        align-self: flex-start;
        color: #3D3D3D;
    }

    .discovery-input {
        width: 100%;
        margin-left: 0;
    }

    .discovery-textarea-input {
        width: 100%;
    }

    .discovery-session-button {
        width: 90%;
    }
  }
  } 
}

@media all and (max-width: 550px) and (min-width: 400px) {
    .discovery-section {
        width: 90%;
        /*        background-color: orange;*/
    }
}

